#beneficios
    .textos
        clearfix()
        .col
            col(1/3, gutter: 5, cycle: 3)
            h2
                margin-top 0
                joyful 28
                color $marrom
            ul
                list-style-position inside
                padding 0
            li
            p
                color $azul-esc
                oxygen 12
                margin 8px 0
            a
                margin-top 15px
                display inline-block
                background $img('seta.png') no-repeat 94% center $marrom
                color white
                joyful 24
                text-decoration none
                padding 10px 38px 10px 20px
                border-radius 10px
                transition background .3s ease
                &:hover
                    background-color #8A5B23
            +mobile()
                stack()
                margin-bottom 20px
                h2
                    margin-bottom 10px
    .aplicaciones
        background #F3E5CD
        border-radius 10px
        border 2px solid #DFBB7B
        margin-top 30px
        h6
            color $azul-esc
            margin 0 0 50px
            oxygen 20
            text-transform uppercase
            text-align center
            padding-top 30px
            +mobile()
                margin 0 0 30px
                padding-top 20px
                oxygen 18
        .thumbs
            padding 0 8% 10px
            clearfix()
            .thumb-aplicacion
                col(1/4, cycle: 4, gutter: 8)
                display inline-block
                text-align center
                color $azul-esc
                text-decoration none
                oxygen 12 bold
                margin-bottom 35px
                &:hover .imagem .overlay
                    opacity 1
                +tablet()
                    col(1/3, uncycle: 4, cycle: 3)
                    text-align center
                +mobile()
                    col(1/2, uncycle: 4, cycle: 2)
                    text-align center
                .imagem
                    width 60%
                    height auto
                    margin 0 auto 10px
                    border-radius 100%
                    border 2px solid #DFBB7B
                    position relative
                    img
                        display block
                        width 100%
                        height auto
                        border-radius 100%
                        z-index 10
                        position relative
                    &:before
                    &:after
                        content ""
                        display block
                        position absolute
                        width 34%
                        height 34%
                        background #DFBB7B
                        border-radius 100%
                        top 33%
                    &:before
                        left -13%
                    &:after
                        right -13%
                    .overlay
                        width 100%
                        height 100%
                        position absolute
                        top 0
                        left 0
                        z-index 20
                        border-radius 100%
                        background $img('mais.png') no-repeat center rgba(223, 187, 123, .8)
                        opacity 0
                        transition opacity .3s ease

.lightbox-nutricionales
    background white
    border-radius 10px
    padding 42px
    clearfix()
    +below($tablet)
        margin-right 20px
    h1
        oxygen 18
        color $azul-esc
        margin 5px 0
    p
        color $azul-esc
        oxygen 12
        margin 0
    h3
        oxygen 12 bold
        color $marrom
        margin-top 20px
    .col
        col(1/3, gutter: 5, cycle: 3)
    .texto
        col(2/3, gutter: 5, shift: 1/3)
        margin-top 22px
    table
        width 100%
        border-collapse separate
        color $marrom
        oxygen 12
        th
        td
            border-right 2px solid white
            border-bottom 2px solid white
            vertical-align top
            background $bege
            padding 3px 5px
            text-align left
            &.omitidos
                oxygen 11
        th:first-child
            background transparent
        &.main
            td
                width 14.2%
            .mark-top
                border-top 2px solid $marrom
            .mark-left
                border-left 2px solid $marrom
            .mark-right
                border-right 2px solid $marrom
            .mark-bottom
                border-bottom 2px solid $marrom