#calidad
    clearfix()
    p
        color $azul-esc
        oxygen 12
        margin 0 0 10px
        line-height 1.5
    ul
        padding 0
        list-style-position inside
        margin 0 0 20px
        li
            color $azul-esc
            oxygen 12
            margin 5px 0
    .left
        width 45.8%
        float left
        .imagem
            width 100%
            text-align center
            img
                width 100%
                height auto
        +below($tablet)
            width 100%
            float none
            .imagem
                img
                    max-width 504px
                    width 80%
                    height auto
    .right
        width 50%
        float right
        .selos
            width 100%
            text-align center
            margin-top 50px
            img
                max-width 100%
                height auto
        +below($tablet)
            width 100%
            float none
            margin-top 50px