#contacto
    clearfix()
    .info
        width 45%
        float left
        h3
            margin 0 0 30px
            color $azul-esc
            oxygen 16 bold
        p
            oxygen 12
            color $azul-esc
            margin 0 0 6px
        a
            oxygen 12 bold
            color $azul-esc
            text-decoration none
            transition color .3s ease
            &:hover
                color $marrom
        h4
            margin 40px 0
            color $azul-esc
            oxygen 12 bold
        .googlemaps
            width 100%
            height 300px
            border 1px solid $marrom
        +below($tablet)
            width 100%
            float none
            margin-bottom 30px
    form
        width 50%
        float right
        background #F3E5CD
        border 2px solid #DFBB7B
        border-radius 10px
        padding 20px
        clearfix()
        +below($tablet)
            width 100%
            float none
        label
            float left
            display block
            color $azul-esc
            oxygen 12 bold
            width 100%
            margin-top 20px
            margin-bottom 5px
            &:first-child
                margin-top 0
        input
        select
        textarea
            width 100%
            background white
            border-radius 6px
            oxygen 11
            border 0
            outline 0
            padding 5px 8px
            color $azul-esc
            margin-bottom 2px
            &#prefijo
            &#primer_nombre
                width 33%
                float left
                margin-right .5%
            &#apelido
                width 33%
                float left
            &#ciudad
            &#codigo_postal
                width 49.75%
                float left
                margin-right .5%
            &#estado
            &#pais
                width 49.75%
                float left
        +mobile()
            input[type=text]
            select
                width 100% !important
                float none !important
        textarea
            min-height 100px
            resize vertical
        input[type=submit]
            width auto
            margin-top 15px
            float right
            background $img('seta.png') no-repeat 85% center $marrom
            text-transform uppercase
            color white
            joyful 24
            text-decoration none
            padding 10px 38px 10px 20px
            border-radius 10px
            transition background .3s ease
            &:hover
                background-color #8A5B23
            +mobile()
                width 100%
        .resposta-wrapper
            margin-top 27px
            color $marrom
            oxygen 13 bold
            +mobile()
                clear both
                width 100%
                padding-top 15px
                text-align center
            #form-resposta
                display none