#historia
    clearfix()
    .texto
        width 45%
        float left
        p
            oxygen 12
            color $azul-esc
            margin 0 0 12px
            line-height 1.5
        h3
            oxygen 24
            color $azul-esc
        +below($tablet)
            width 100%
            float none
    .imagem
        width 50.6%
        float right
        img
            width 100%
            height auto
        +below($tablet)
            width 100%
            float none
            text-align center
            img
                width 90%
                margin-top 30px
                max-width 557px