#home
    padding 25px 0 0
    clearfix()
    .left
        width 50%
        float left
        position relative
    .right
        width 45%
        float right
        position relative
    .top
        position relative
        z-index 10
        clearfix()
        .graos
            position relative
            display block
            width 76.2%
            height auto
            transition transform .5s ease, opacity .2s ease
            opacity 0
            transform translateY(-550px)
            &.animate
                opacity 1
                transform translateY(0)
        .liquido
        .polvo
            position absolute
            width 45%
            height auto
            z-index 20
            opacity 0
            transition opacity .5s ease
            &.animate
                opacity 1
        .polvo
            right 0
            top 0
        .liquido
            right 26%
            top 45%
            z-index 30
        h2
            position absolute
            margin 0
            left 0
            top 50px
            color $marrom
            joyful 80
            transition transform .5s ease, opacity .2s ease
            opacity 0
            transform translateY(-550px)
            &.animate
                opacity 1
                transform translateY(0)
            +between($tablet, $smalldesktop)
                font-size 65px
            +tablet()
                font-size 52px
                top 40px
            +mobile()
                font-size 36px
                top 0
        h3
            position absolute
            margin 0
            left 0
            top 210px
            oxygen 20 bold
            color $azul
            opacity 0
            transition opacity .5s ease
            &.animate
                opacity 1
            +between($tablet, $smalldesktop)
                font-size 17px
                top 150px
            +tablet()
                font-size 15px
                top 100px
            +mobile()
                font-size 10px
                top 80px
    .bottom
        clearfix()
        background $img('bg.jpg') no-repeat center $marrom
        position relative
        margin-top -100px
        padding 40px 0
        +between($tablet, $smalldesktop)
            margin-top -80px
        +tablet()
            margin-top -50px
            padding 30px 0
        +mobile()
            margin-top 30px
            padding 20px 0
            .right
                width 100%
                float none
                text-align center
                h3
                    font-size 14px
                p
                    font-size 12px
        h3
            margin 0 0 20px
            oxygen 20 bold
            color white
            opacity 0
            transition opacity .5s ease
            &.animate
                opacity 1
            +between($tablet, $smalldesktop)
                font-size 17px
            +tablet()
                font-size 15px
        .aplicacoes
            img
                width 22.3%
                height auto
                display block
                opacity 0
                float left
                margin-right 1%
                transition transform .5s ease, opacity .6s ease
                +mobile()
                    width 22%
                    margin-right 4%
                    &:last-child
                        margin 0