#procesos
    clearfix()
    .texto
        width 45%
        float left
        +below($tablet)
            width 100%
            float none
            margin-bottom 30px
        h3
            color $marrom
            joyful 24
            margin 0 0 15px
        p
            oxygen 12
            line-height 1.5
            color $azul-esc
            margin 0 0 12px
    .infografico
        width 49.2%
        float right
        +below($tablet)
            width 100%
            float none
            .content .wrapper
                max-width 542px
                margin 0 auto
        .loading
            width 100%
            height 100px
            background $img('loader.gif') no-repeat center #CFA455
            border-radius 6px
            opacity .5
        .content
            display none
            .wrapper
                width 100%
                border-radius 6px
                border 1px solid #DEBA7B
                overflow hidden
                .col
                    width 50%
                    float left
                    img
                        width 100%
                        display block
                        height auto