#productos
    .entrada
        clearfix()
        .left
            width 45%
            float left
            +below($tablet)
                float none
                width 100%
                margin-bottom 30px
            h3
                joyful 70
                color $marrom
                margin 0 0 20px
                +mobile()
                    joyful 48
            h4
                oxygen 18
                color $azul-esc
                +mobile()
                    oxygen 14
            .formato
                width 100%
                position relative
                height 120px
                padding 13px 55px
                border-radius 100px
                margin-bottom 20px
                +mobile()
                    border-radius 20px 100px 100px 20px
                    padding 20px 35px 20px 15px
                &:after
                    content ""
                    display block
                    position absolute
                    height 120px
                    width 120px
                    right -10px
                    top 0
                    z-index -10
                h5
                p
                    oxygen 12
                    color $azul-esc
                    margin 0
                    position relative
                    z-index 10
                h5
                    oxygen 15 bold
                    text-transform uppercase
                img
                    display block
                    position absolute
                    right 0
                    top 0
                &.polvo
                    box-shadow 0 0 0 4px #DFBB7B
                    &:after
                        background #DFBB7B
                        border-radius 100%
                        box-shadow 0 0 0 4px #DFBB7B
                &.liquido
                    box-shadow 0 0 0 4px $marrom
                    &:after
                        background $marrom
                        border-radius 100%
                        box-shadow 0 0 0 4px $marrom
        .right
            width 45%
            float right
            +below($tablet)
                float none
                width 100%
            .texto
                oxygen 12
                color $azul-esc
                line-height 1.5
                margin 0 0 12px
            .tabela
                h4
                    oxygen 18
                    color $azul-esc
                    margin 35px 0 20px
                table
                    width 100%
                    border-spacing 2px
                    border-collapse separate
                    color $marrom
                    oxygen 12
                    th
                    td
                        background $bege
                        padding 3px 5px
                        text-align left
                    th:first-child
                        background transparent
    .productos
        clearfix()
        margin-top 30px
        .grid-sizer
            width 32.5%
            +tablet()
                width 49.175%
            +mobile()
                width 100%
            &.open
                width 66.25%
                +below($tablet)
                    width 100%
        .gutter-sizer
            width 1.25%
        .item
            width 32.5%
            margin-bottom 15px
            display block
            border 2px solid #DFBB7B
            background #DFBB7B
            border-radius 10px
            text-decoration none
            cursor pointer
            +tablet()
                width 49.175%
            +mobile()
                width 100%
            &.open
                width 66.25%
                +below($tablet)
                    width 100%
            .thumb
                .imagem
                    width 100%
                    border-radius 10px
                    background white
                    text-align center
                    padding 10px 0
                    img
                        width 70%
                        height auto
                        border-radius 10px
                h5
                    color $azul-esc
                    text-align center
                    oxygen 16 bold
            .content
                display none
                .desc
                    background white
                    border-radius 10px
                    clearfix()
                    .imagem
                        float left
                        width 28%
                        text-align center
                        padding 30px 0
                        img
                            display inline-block
                            width 70%
                            height auto
                        +mobile()
                            width 40%
                    .titulo
                        float left
                        width 25%
                        h5
                            color $azul-esc
                            oxygen 20
                            margin 30px 0 20px
                        h6
                            color $azul-esc
                            margin 0
                            oxygen 14 bold
                        +mobile()
                            margin-left 5%
                            width 50%
                            margin-bottom 7%
                            h5
                                margin 20px 0 10px
                    table
                        width 40%
                        float right
                        margin 2% 3%
                        color $azul-esc
                        oxygen 12
                        td.title
                            oxygen 9 bold
                        tr
                            border-bottom 1px solid $bege
                            td
                                padding 4px 0 2px
                                vertical-align top
                                &:first-child
                                    padding-right 15px
                                    padding-top 6px
                        +mobile()
                            width 90%
                            margin 5%
                            float none
                .aplicaciones
                    background #F3E5CD
                    border-radius 10px
                    margin-top 2px
                    h6
                        color $azul-esc
                        margin 0 0 20px
                        oxygen 14
                        text-transform uppercase
                        text-align center
                        padding-top 20px
                    .thumbs
                        padding 0 30px 10px
                        clearfix()
                        .thumb-aplicacion
                            col(1/4, cycle: 4, gutter: 2)
                            display inline-block
                            text-align center
                            color $azul-esc
                            text-decoration none
                            oxygen 11
                            margin-bottom 30px
                            &:hover .imagem .overlay
                                opacity 1
                            +mobile()
                                col(1/2, uncycle: 4, cycle: 2)
                                text-align center
                            .imagem
                                width 54%
                                height auto
                                margin 0 auto 10px
                                border-radius 100%
                                border 2px solid #DFBB7B
                                position relative
                                img
                                    display block
                                    width 100%
                                    height auto
                                    border-radius 100%
                                    z-index 10
                                    position relative
                                &:before
                                &:after
                                    content ""
                                    display block
                                    position absolute
                                    width 34%
                                    height 34%
                                    background #DFBB7B
                                    border-radius 100%
                                    top 33%
                                &:before
                                    left -13%
                                &:after
                                    right -13%
                                .overlay
                                    width 100%
                                    height 100%
                                    position absolute
                                    top 0
                                    left 0
                                    z-index 20
                                    border-radius 100%
                                    background $img('mais.png') no-repeat center rgba(223, 187, 123, .8)
                                    opacity 0
                                    transition opacity .3s ease

.lightbox-beneficio
    background white
    border-radius 20px
    min-height 300px
    clearfix()
    .imagem
        width 37.5%
        float left
        overflow hidden
        border-radius 20px
        border 4px solid #DFBB7B
        img
            display block
            width 100%
            height auto
    .texto
        width 54%
        margin-right 5%
        float right
        padding 20px 0
        h2
            color #CFA455
            joyful 24
            text-transform uppercase
            margin 0 0 10px
        h1
            color $azul-esc
            oxygen 16 bold
            margin 0
        ul
            padding 0
            list-style-position inside
        li
        p
            color $azul-esc
            margin 3px 0
        p
            oxygen 13
    +mobile()
        border-radius 10px
        .imagem
            width 100%
            float none
            border-radius 10px
        .texto
            width 100%
            float none
            padding 5%
