header
    width 100%
    height 116px
    background-color white // ie fallback
    background-image linear-gradient(180deg, #F9F2E5, white)
    clearfix()
    h1
        margin 0
        position relative
        top 25px
        display block
        float left
        width 228px
        height 52px
        a
            display block
            width 100%
            height 100%
            text-indent -9999px
            background $img('liotecnica.png') no-repeat center
    +mobile()
        height 85px
        h1
            top 16px
            width 172px
            height 52px
            a
                background-size 100% auto
    +between($mobile, $smalldesktop)
        h1
            width 185px
            a
                background-size 100% auto
    +tablet()
        height auto
        padding-bottom 20px
        h1
            float none
            top 0
            margin-top 25px
    nav#desktop
        display block
        width 72%
        float right
        text-align right
        a
            display inline-block
            background transparent
            padding 47px 10px 10px
            margin-left 10px
            text-decoration none
            color $azul
            transition .3s background ease
            oxygen 14 bold
            &:first-child
                margin-left 0
            &:hover
            &.active
                background-color $bege
            &.idioma
                position relative
                display inline-block
                text-align left
                width 24px
                height 24px
                text-indent -9999px
                top 27px
                margin-left 18px
                &.en
                    background $img('en.png') no-repeat center
                &.es
                    background $img('es.png') no-repeat center
        +between($tablet, $smalldesktop)
            width 77%
            a
                margin-left 8px
        +tablet()
            float none
            text-align left
            width 100%
            margin-top 20px
            a
                margin-left 0
                margin-right 12px
                padding 8px
                &.idioma
                    top 6px
                    margin-left 8px
                    margin-right 0
        +mobile()
            display none
    button
        +mobile()
            display block
        display none
        background-color $azul
        border 0
        float right
        height 85px
        width 85px
        outline 0
        padding 0
        .lines
            display block
            width 40%
            height 3px
            margin 41px auto
            background white
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background white
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav#mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        width 100%
        top 85px
        left 0
        z-index 200
        background rgba(1, 85, 166, .9)
        padding 20px
        a
            display block
            text-align center
            color white
            text-decoration none
            margin 20px 0
            oxygen 14 bold
            &.active
                color $bege
            &.idioma
                height 24px
                &.en
                    background $img('en.png') no-repeat center
                &.es
                    background $img('es.png') no-repeat center
                text-indent -9999px

#title
    width 100%
    height 80px
    background $img('bg.jpg') no-repeat center top $marrom
    h2
        margin 0
        color $bege
        joyful 36
        line-height 80px
        text-shadow 0 1px 2px rgba(0, 0, 0, .25)
        cursor default

main
    padding 35px 0 70px
    +mobile()
        padding-bottom 45px

.footer-bg
    width 100%
    height 130px
    background $img('bg.jpg') no-repeat center $marrom
    text-align right
    joyful 85
    line-height 130px
    color #DFBB7B
    cursor default
    +mobile()
        display none

footer
    width 100%
    border-top 2px solid $marrom
    background $bege
    padding 25px 0
    clearfix()
    nav
        float left
        border-left 1px solid rgba(179, 122, 51, .5)
        padding-left 10px
        margin-right 20px
        a
        p
            display block
            margin 0
            text-decoration none
            color $marrom
            oxygen 11
            margin 4px 0
            transition color .3s ease
            &:first-child
            &:last-child
                margin 0
        p
            cursor default
        a:hover
            color #5C390E
        +mobile()
            display none
    .contacto
        float left
        margin 0 60px
        color $marrom
        p
            oxygen 10
            margin 0 0 23px
        p.tel
        a
            margin 0 0 2px
            oxygen 11 bold
            color $marrom
            text-decoration none
            transition color .3s ease
        a:hover
            color #5C390E
        +between($tablet, $smalldesktop)
            margin 0 10%
        +tablet()
            float right
            margin 0
            text-align right
        +mobile()
            width 100%
            float none
            margin 0
            p
                margin-bottom 10px
    .logo
        float left
        img
            display block
            margin-bottom 16px
        p
        a
            margin 0
            color $marrom
            text-decoration none
            transition color .3s ease
            oxygen 10
        a:hover
            color #5C390E
        +between($tablet, $smalldesktop)
            float right
        +tablet()
            clear both
            float none
            padding-top 30px
            text-align center
            p
                display inline
            img
                margin 0 auto 10px
        +mobile()
            width 100%
            margin 20px 0
            float none
    .copyright
        float right
        p
        a
            margin 0 0 5px
            color $marrom
            oxygen 10
            text-decoration none
            transition color .3s ease
        a:hover
            color #5C390E
        +between($mobile, $smalldesktop)
            clear both
            float none
            padding-top 30px
            text-align center
            +tablet()
                padding-top 15px
            p
                display inline
        +mobile()
            float none
