*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

::selection
    background $azul
    color #EEDBBA

::-moz-selection
    background $azul
    color #EEDBBA

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($smalldesktop)
        width 92%

body
    oxygen 14
    &:after
        content "" // preload images
        display none