// Responsive
desktop-base-width     = 1100px
desktop-smaller-width  = $smalldesktop = 1180px
rupture.desktop-cutoff = $tablet = 1010px
rupture.mobile-cutoff  = $mobile = 775px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$azul     = #0155A6
$azul-esc = #001C6C
$bege     = #EEDBBA
$marrom   = #B37A33

// Fonts
@import url('http://fonts.googleapis.com/css?family=Oxygen:400,300,700')
oxygen($size, $style = regular)
    font-size $size + 0px
    font-family 'Oxygen', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700
    if $style == light
        font-weight 300

@font-face
    font-family 'joyful_julianaregular'
    src url('fonts/JoyfulJuliana-webfont.eot');
    src url('fonts/JoyfulJuliana-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/JoyfulJuliana-webfont.woff2') format('woff2'),
        url('fonts/JoyfulJuliana-webfont.woff') format('woff'),
        url('fonts/JoyfulJuliana-webfont.ttf') format('truetype'),
        url('fonts/JoyfulJuliana-webfont.svg#joyful_julianaregular') format('svg')
    font-weight: normal;
    font-style: normal;
joyful($size)
    font-size $size + 0px
    font-family 'joyful_julianaregular', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif
    font-weight normal
